<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Library Main Page</title>
      <style>
        .nav-links {
        text-align: center;
        margin-top: 50px;
        font-family: Arial, sans-serif;
      }

      .nav-links a {
        color: black;            
        text-decoration: none;   
        margin: 0 15px;          
        font-size: 18px;
        transition: color 0.3s;  
      }

      .nav-links a:hover {
        color: #007BFF;          
        text-decoration: underline;
      }
      </style>
    </head>
    <body>
        <div class="nav-links">
      <a href="http://localhost:3000/literature">Adabiyotlar</a>
      <a href="http://localhost:3000/articles">Maqolalar</a>
      <a href="http://localhost:3000/dissertation">Dissertatsiyalar</a>
      <a href="http://localhost:3000/monograph">Monografiyalar</a>
      <a href="http://localhost:3000/universities">Muassasalar</a>
      <a href="http://localhost:3000/authors">Mualliflar</a>
      <a href="http://localhost:3000/journals">Jurnallar</a>
    </div>
    </body>
</html>